<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/images/garena_logo.png" alt="" class="logo">  
  <span class="example-spacer"></span>
  <button mat-button routerLink="/admin/inicio">Inicio</button>
  <button mat-button routerLink="/admin/clientes/add">Registrar</button>
  <button mat-button routerLink="/admin/clientes">Clientes</button>
  <button mat-button routerLink="/admin/recargas">Recargas</button>
  <button mat-button routerLink="/admin/login">Cerrar sesión</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
